tr.class1{
    background-color: rgba(0,104,215,255);
}
tr.class2{
    background-color: rgba(81,185,246,255);
}
table {
    background-color: rgba(0,104,215,255);
    color: white;
    font-family:'Gill Sans MT';
    font-size: 25px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: auto;
    border-collapse: collapse;
    padding: 0%;
    box-shadow: 10px 10px 10px black;
}
.small-col{
    font-size: 20px;
    width: 4%;
    text-align: center;
}
.small-text {
    font-size: 22px; 
    line-height: 1;    
    display: inline-block; 
    text-align: center; 
}
.erkezes {
    font-size: 17px;
    font-family: Gill Sans;
}
tr.class2:hover {
    background-color: rgb(3, 73, 148);
    color: white;
}
tr.class1:hover {
    background-color: rgb(15, 120, 180);
    color: white;
}
body{
    background-color: gray;
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
button{
    color: white;
    background-color: rgb(0, 153, 255);
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
}
button:hover{
    color: white;
    background-color: rgb(2, 110, 183);
}
img.ribbon{
    width: 7%;
    padding-left: 1600px;
    margin-top: -640px; 
    transition: 0.3s;
    rotate: 25deg;
}
img.ribbon:hover{
    opacity: 0.5;
}
img.mavlogo{
    filter: none;
}